.container{
    .card{
        border:1px solid #EAEAEA;
        border-radius: 6px;
        & > div{
            display: flex;
            padding:5px 10px;
            border-bottom: 1px solid #EAEAEA; 
            & > p {
                flex:1;
            }
    
            & > p:nth-of-type(2){
                text-align: right;
            }
    
            &:last-child{
                border-bottom: none; 
            }
        }
    }
}

.modal-body{
    max-height:450px!important;
}